node_modules/
.expo/
dist/
npm-debug.*
*.jks
credentials.json
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
@yahyaammar__sodu-b2b-wholesale-commerce-keystore-backup/
google-services.json.old-com.gosodu1.sodu.bak
sodu-b2b-wholesale-firebase-adminsdk-fbsvc-3bda7d0490.json
*firebase-adminsdk*.json
# expo router
expo-env.d.ts
# tamagui
.tamagui/


/ios
/android

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
.cursor/
.env